
@keyframes bgTransition {

    from {
        background-color: #FFF;
        
    }
    to {
        background-color: #CCC;
    }

}

@keyframes bgTransition2 {

    0%   {
        left:0%;
        opacity: 0;
    }
    25%  {
        left:25%;
        opacity: 1;
    }
    50%  {
        left:50%;
    }
    100% {
        left:100%;
    }

}

@keyframes bgTransition3 {

    0%   {
        left:5%;
        opacity: 0;
    }
    25%  {
        left:15%;
        opacity: 1;
    }
    50%  {
        left:70%;
    }
    100% {
        left:90%;
    }

}




@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}